/* .container {
    width: 60%;
    align-items: center;
}

.button {
    margin-left: 350px;
}

.hero {
    background-image: "./Images/bg1.jpg";
} */

.has-bg-img {
    background: url('./Images/bg1.jpg')center center;
    background-size: cover;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.title {
    vertical-align: top 150px;
}

#sentiment {
    float: right;
    margin: 0 60px 0 0;
  }