/* Fonts 
-------------------------------------*/
@font-face {
    font-family: 'simplificasimplifica';
    src: url('fonts/simplifica_typeface-webfont.eot');
    src: url('fonts/simplifica_typeface-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/simplifica_typeface-webfont.woff2') format('woff2'),
         url('fonts/simplifica_typeface-webfont.woff') format('woff'),
         url('fonts/simplifica_typeface-webfont.ttf') format('truetype'),
         url('fonts/simplifica_typeface-webfont.svg#simplificasimplifica') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Navbar Styles 
-------------------------------------*/
.navbar-color {
    background-color: #7a7a7a;
}

.theme-nav {
    font-size: 2rem;
    font-weight: bold;
    color: #F5F5F5;
    font-family: 'simplificasimplifica';
    letter-spacing: 0.33rem;
}


/* Hero Styles 
-------------------------------------*/
body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("./Images/bg3.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: rgba(0,0,0,0.5);
}

.content-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    left: -2%;
    right: 0;
    /* background-color: #696969;
    background-color: #404040; */
    /* background-color: rgba(64,64,64,0.95); */
    background-color: rgba(191,155,48,0.95);
    background-color: rgba(189,183,107,0.90);
    /* background-color: #2F4F4F; */
    /* background-color: #474747; */
    border-radius: 25px;
}

.content-title {
    padding: 1rem 4rem 0 4rem;
    font-size: 7rem;
    font-weight: bold;
    color: #F5F5F5;
    font-family: 'simplificasimplifica';
    letter-spacing: .66rem;
}

.content-body {
    padding: 0 4rem;
    color: #DCDCDC;
}

.content-divider {
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: #393939;
}

.search-container {
    width: 25rem;
    margin: 0 auto;
}

.crypto-search {
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

@media only screen and (max-width: 715px) {
    .search-container {
        width: 20rem;
    }
}

@media only screen and (max-width: 600px) {
    .field.has-addons  {
        display: block;
    }
    .crypto-search {
        margin-bottom: 1rem;
    }
    .search-button-container {
        text-align: center!important;
        margin-bottom: 1rem;
    }
    .search-button {
        border-radius: 5px !important;
    }
    .content-container {
        width: 90%;
    }
}

@media only screen and (max-width: 420px) {
    .search-container {
        width: 15rem;
    }
}



